@*
Group 5 - OOP-2 

Students: Michael Lalonde, Noah Mcclay, Cale Ryden, Cole Andrews
Date: 2025-03-14
   
-------------------------------------------------------------------

Page Name: Flights.razor

Program Description: This is a Blazor application designed to allow users to manage flights and reservations. 
Whether that be searching for flights, booking flights, or viewing reservations.
It provides user-friendly functionality to search for flights based on departure and arrival airports.





*@



@page "/flights"
@inject DataManager DataManager

<h2>Flight Finder</h2>

<label>From: </label>
<input type="text" @bind="from" placeholder="Enter Origin" />

<label>To: </label>
<input type="text" @bind="to" placeholder="Enter Destination" />

<label>Day: </label>
<input type="text" @bind="day" placeholder="Enter Day" />

<button type="button" @onclick="SearchFlights">Find Flights</button>

<h2>Flights</h2>
<ul>
    @foreach (Flight flight in flights)
    {
        <li>@flight.FlightCode - @flight.Airline - @flight.DepartureTime</li>
    }
</ul>


@code {
    private string from = "";
    private string to = "";
    private string day = "";
    private List<Flight> flights = new List<Flight>();
    private List<Flight> foundFlights = new List<Flight>();

    void SearchFlights()
    {
        Console.WriteLine($"Searching for flights from: {from}, to: {to}, on: {day}");

        Functionality.LoadFlights(flights);
        foundFlights = DataManager.FindFlights(from, to, day);

        // Log the number of flights found
        Console.WriteLine($"Found {foundFlights.Count} flights.");
    }
}

