@page "/reservations"

<h2>Reservation Finder</h2>

<form method="post" id="form1" class="inline-form">
	<label>Code: </label>
	<input type="text" @bind="code" name="code" placeholder="Any" />

	<label>Airline: </label>
	<input type="text" @bind="airline" name="airline" placeholder="Any" />

	<label>Name: </label>
	<input type="text" @bind="name" name="name" placeholder="Any" />

	<button type="submit">Find Reservations</button>
</form>

<h2>Reservations</h2>
<form method="post" id="form2">
	<input type="text" name="search" placeholder="Loading..." />
</form>

<h2>Reserve</h2>
<form method="post" id="form3">
	<label> Reservation Code: </label>
	<input type="text" name="code" placeholder="Enter Code: " />

	<label>Flight Code: </label>
	<input type="text" name="flightcode" placeholder="Enter Flight Code: " />

	<label>Airline: </label>
	<input type="text" name="airline" placeholder="Enter Airline: " />

	<label> Cost: </label>
	<input type="text" name="cost" placeholder="Cost: " />

	<label> Name: </label>
	<input type="text" name="name" placeholder="Enter Name: " />

	<label>Citizenship: </label>
	<input type="text" name="citizenship" placeholder="Enter Citizenship: " />

	<label>Status: </label>
	<input type="text" name="status" placeholder="Enter Status: " />

	<div class="row">
		<button type="submit">Save</button>
	</div>
</form>


<style>

	h2 {
		text-align: center;
	}

	#form1 {
		width: 150px;
	}

	.inline-form {
	}

	#form2 input {
		width: 100%;
		padding: 5px;
		margin-bottom: 65px;
		border: 1px solid white;
		border-radius: 3px;
	}

	#form3 label {
		display: block;
		margin-top: 5px;
	}

	#form3 input {
		width: 100%;
		padding: 5px;
		margin-bottom: 5px;
		border: 1px solid white;
		border-radius: 3px;
	}

	.row {
		display: flex;
		justify-content: center;
		padding-bottom: 10px;
	}

	#form3 button {
		background-color: blue;
		color: white;
		width: 30%;
		border: none;
		border-radius: 5px;
	}

</style>

@code {
	private string code = "";
	private string airline = "";
	private string name = "";

}
